@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #454545;
  --card: #ffffff;
  --card-foreground: #454545;
  --popover: #ffffff;
  --popover-foreground: #454545;
  --primary: #454545;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #454545;
  --muted: #dedede;
  --muted-foreground: #808080;
  --accent: #ffffff;
  --accent-foreground: #454545;
  --destructive: #e7000b;
  --destructive-foreground: #ffffff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #c5c5c5;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #ffffff;
  --sidebar-foreground: #454545;
  --sidebar-primary: #454545;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ffffff;
  --sidebar-accent-foreground: #454545;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #bebebe;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Instrument Serif, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-brand-desert-50: #f7f5f3;
  --color-brand-desert-100: #eeebe6;
  --color-brand-desert-200: #dcd4cc;
  --color-brand-desert-300: #c6b8ab;
  --color-brand-desert-400: #af9888;
  --color-brand-desert-500: #9e8171;
  --color-brand-desert-600: #917265;
  --color-brand-desert-700: #795d55;
  --color-brand-desert-800: #644d48;
  --color-brand-desert-900: #52413c;
  --color-brand-desert-950: #2b211f;

  --color-brand-primary-50: #f6f6f6;
  --color-brand-primary-100: #e7e7e7;
  --color-brand-primary-200: #d1d1d1;
  --color-brand-primary-300: #b0b0b0;
  --color-brand-primary-400: #888888;
  --color-brand-primary-500: #6d6d6d;
  --color-brand-primary-600: #5d5d5d;
  --color-brand-primary-700: #4f4f4f;
  --color-brand-primary-800: #454545;
  --color-brand-primary-900: #3d3d3d;
  --color-brand-primary-950: #222222;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
